{% extends 'base.html' %}
{% load static %}
<!DOCTYPE html>

{% block title %} About Us {% endblock %} 

{% block content %}


    <!-- Hero Start -->
    <div class="container-fluid py-6 my-6 mt-0" style="background-image: url('{% static 'img/processing-plant-img.jpg' %}'); background-position: center; background-attachment: fixed; background-size: cover; position: relative; height: 60vh; padding-top: 12%">
        <div style="background-color: rgba(0, 0, 0, 0.8); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1;""></div>
        <div class="container text-center animated bounceInDown" style="position: relative; z-index: 2;">
            <h1 class="display-1 mb-4" style="color: #ffadad !important;">404</h1>
            <ol class="breadcrumb justify-content-center mb-0 animated bounceInDown">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item text-dark" aria-current="page">404</li>
            </ol>
        </div>
    </div>
    <!-- Hero End -->


   <section class="d-flex flex-column justify-content-center align-items-center text-center" style="min-height: 70vh;">
        <h1 class="display-4 mb-4">Page Not Found</h1>
        <p class="lead">Sorry, the page you are looking for does not exist.</p>
        <!-- <p class="mb-4">It might have been removed, had its name changed, or is temporarily unavailable.</p>
        <p class="mb-4">Please check the URL or return to the homepage.</p>
        <p class="mb-4">If you need assistance, feel free to contact us at <a href="mailto:sale@skaalmeats.com"></a> -->
        <img src="{% static 'img/404-image.png' %}" 
            alt="404 Page Not Found" 
            class="img-fluid mb-4" 
            style="max-width: 400px;">
        <a href="{% url 'index' %}" class="btn btn-danger btn-lg">
            <i class="fas fa-home text-white me-2"></i> Back Home
        </a>
    </section>


{% endblock %}